Screen {
    align: center middle;
    background: darkblue
}

Screen Container {
    padding: 1;
    background: $panel;
    color: $text;
}

Markdown {
    color: $text;
    margin: 0 1;
}

Button {
    width: 100%;
}

InputScreen {
    background: $surface;
}

InputWithLabel {
    layout: horizontal;
    height: auto;
    margin: 2;
}
InputWithLabel Label {
    border: round grey;
    width: 1fr;
    text-style: bold;
    text-align: right;
}
InputWithLabel Input {
    width: 2fr;
}